
body
{
  background-image:url("pic 3.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}
#main
{
    /*border:2px solid red;*/
    text-align:center;
}
#title
{
    /*border:2px solid green;*/
    font-size:1.5rem;
    padding:10px;
    color:white;
    font-weight:bold;
    text-shadow: 4px 3px 5px #FF0000;
}
#body
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#value_insert
{
    /*border:2px solid orange;*/
    /*flex: 1;*/
    background-color:black;
    opacity:0.7;
    border-radius:25px;
    padding:15px;
}
#result
{
    /*border:2px solid purple;*/
   /* flex: 1;*/
}
#parameter
{
    font-size:1.8rem;
    font-weight:bold;
    color:white;
    text-shadow: 2px 3px 5px rgb(243, 48, 64);
}
select
{
    font-size:1.2rem;
    width:600px;
    padding:5px;
    background-color:rgb(171, 223, 245);
    opacity:1;
    font-weight:550;
    border-radius:15px;
    border:2px solid red;
    
}
input{
    font-size:1.2rem;
    width:590px;
    padding:5px;
    background-color:rgb(171, 223, 245);
    opacity:0.7;
    font-weight:550;
    border-radius:15px;
    border:2px solid red;
}
select:hover
{
    cursor: pointer;
}
input:hover{
    cursor: pointer;
}
button
{
    font-size:1.3rem;
    width:600px;
    padding:10px;
    color:white;
    font-weight:bold; 
    border-radius:20px;
    background: transparent;
    border:3px solid red;
}
button:hover{
    background-color:blueviolet;
    cursor: pointer;

}

/*-------------- Result Section------------- */

#result_box{
    /*border:2px solid orange;*/
    margin-top:100px;
    background-color:black;
    opacity:0.7;
    border-radius:25px;
    padding:15px;

}
#result_title{
    font-size:2.5rem;
    color: rgb(176, 245, 222);
    text-shadow: 4px 4px 5px rgb(49, 7, 218);
}
#result_ans{
    color:white;
    font-size:2rem;
}